body{
 background-color: black;
    color: white;
}
h1{
 text-align: center;   
}

.imagem{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.ação{
    margin-left: 30%;
    width: 40%;
}
